@import url(//db.onlinewebfonts.com/c/d8a28611cf5f5d635071f2d90d9e9cc8?family=Sk-Modernist);

/* width */
@import url("https://rsms.me/inter/inter.css");
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #baba5c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sk-Modernist", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  background-color: #f0e6bd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#title-container {
  width: 30%;
  border-radius: 10px;
  border: 5px solid black;
  margin: 1em;
  box-shadow: 3px 7px rgb(36, 36, 36);
  background-color: #f3f378;
  text-align: center;
  gap: 1em;
  padding: 1em;
}

#title {
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 3em;
}

#title span {
  color: #6367df;
}

#main-container {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1em;
}

.tv-divs {
  border: 5px solid black;
  box-shadow: 5px 10px rgb(36, 36, 36);
  height: 100%;
  max-height: 70vh;
  border-radius: 10px;
  width: 48%;
  background-color: #d1d1d1;
  display: flex;
  flex-direction: column;
}

.container-heading {
  text-align: center;
  padding: 0.5em;
  border-bottom: 5px solid black;
  background-color: #3e418a;
  color: white;
  letter-spacing: 0.2em;
}

#form-container {
  padding: 1em;
}

#search-input {
  border: 3px solid black;
  border-radius: 5px;
  width: 80%;
  height: 50px;
  text-align: center;
  font-size: 1.2em;
  color: black;
}

#search-input:focus {
  outline: none;
}

#submit-button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  width: 19%;
  height: 50px;
  background-color: rgb(214, 171, 96);
  border: 3px solid black;
  font-size: 1.2em;
  transition: 0.3s box-shadow ease-in-out;
}

#submit-button:hover {
  box-shadow: 2px 5px black;
}

.card-container {
  margin: 0.5em;
  padding: 0.5em;
  height: inherit;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: 30px;
}

.card {
  padding: 1em;
  display: flex;
  align-items: center;
  background-color: #e2442f;
  border-radius: 20px;
  border: 3px solid black;
}

.show-cover {
  width: 40%;
  height: 100%;
  max-width: 200px;
  max-height: 300px;
  border: 3px solid black;
  border-radius: 10px;
}

.desc-div {
  margin-left: 1em;
  padding: 1em;
  border-left: 3px solid black;
  text-align: justify;
}

.desc-div h3 {
  text-decoration: underline;
  font-size: 2em;
  transition: 0.2s color ease-in-out;
}

.desc-div h3:hover {
  color: white;
}

.director {
  font-weight: bold;
  font-size: 1.3em;
  font-family: monospace;
}

.category {
  background-color: white;
  border: 3px solid black;
  padding: 0.5em;
  margin: 1em 0.2em 1em 0em;
  display: inline-block;
  border-radius: 5px;
  font-family: monospace;
  font-weight: bolder;
  color: black;
  transition: 0.3s background-color ease-in-out;
}

.category:hover {
  background-color: #f3f378;
  cursor: pointer;
}

.desc-div button {
  margin-top: 1em;
  border: 3px solid black;
  border-radius: 5px;
  padding: 0.7em;
  text-decoration: none;
  width: 100%;
  font-size: 1em;
  transition: 0.3s box-shadow ease-in-out;
}

.desc-div button:hover {
  box-shadow: 2px 5px black;
  cursor: pointer;
  background-color: #f3f378;
}
